<div class="view__window" style="display: none"></div>
<div class="product__view" style="display: none">

	<div class="product__mainhead">
	<div class="clouse__icon">
		<img src="static/img/assets/tovar/clouse.png" alt="clouse">
		<img src="static/img/assets/tovar/closehover.png" alt="clouse">
	</div>
		<div class="mainhead__img">
			<img alt="img" class="mainhead__photo">
			<div class="like">
			<img src="static/img/assets/product/like.png" alt="like">
			</div>
		</div>
		<div class="mainhead__text">
			<p class="tovar__name"></p>
			<div class="tovar__count">
				<p class="tovar__here ">В наличии: <span></span></p>
				<p class="tovar__not">Нет в наличии</p>
			</div>
			<p class="tovar__spechead">Характеристики:</p>
			<div class="specblock">
				<div class="specblock__name">
					<p class="specblog__brand">Бренд:</p>
					<p class="specblog__creator">Производитель:</p>
					<p class="specblog__model">Модель:</p>
					<p class="specblog__art">Артикул производителя:</p>
					<p class="specblog__weig">Вес:</p>
					<p class="specblog__size">Габариты:</p>
					<div class="specblog__count">
						<p>Кол-во:</p>
						<div class="adapt-count">
						<div class="minus__count"><i class="fas fa-minus"></i></div>
						<div class="price__count"><p>1</p></div>
						<div class="plus__count"><i class="fas fa-plus"></i></div>
					</div>
					</div>
				</div>
				<div class="specblock__val">
					<p class="specblog__brandval"></p>
					<p class="specblog__creatorval"></p>
					<p class="specblog__modelval"></p>
					<p class="specblog__artval"></p>
					<p class="specblog__weigval"></p>
					<p class="specblog__sizeval"></p>
					<div class="specblog__price">
						<p>Цена:</p>
						<div class="tovar-price">
							<p></p>
							<span>₸</span>
						</div>
						<div class="tovar-sale">
							<p></p>
							<span>₸</span>
						</div>
					</div>
				</div>				
			</div>
			<div class="specblock__button">
				<div class="product__button">
						<a href="#">В корзину</a>
						<a href="#">Купить</a>
				</div>
				<div class="product__button product__not">
						<a href="#">Оставить заявку</a>
				</div>
			</div>
		</div>
	</div>
	<div class="product__descrip">
		<p class="desc_textfirst"></p>
		<p class="desc_textsecond"></p>
	</div>
	<div class="product__btn">
		<div class="product__button">
			<a href="#" class="clousse">Продолжить покупки</a>
			<a href="#">Перейти к товару</a>
		</div>
	</div>


</div>