<div class="sort">
	<div class="sort__wrapper">
		<div class="sort__select">
			<p>Подбор расходников</p>
			<div class="select">
				<a href="#" class="select__button active">По картриджу</a>
				<a href="#" class="select__button">По принтеру</a>
			</div>
		</div>
		<div class="sort__details">
			<div class="head__details">Производитель <i class="fas fa-chevron-down"></i>
				<div class="body__details details__creator">
					<a href="#">Brother</a>
					<a href="#">Hi-Black</a>
					<a href="#">XEROX</a>
					<a href="#">EPSON</a>
					<a href="#">Europrint</a>
					<a href="#">Ricoh</a>
				</div>
			</div>
			<div class="head__details">Серия <i class="fas fa-chevron-down"></i>
				<div class="body__details details__seria">
					<a href="#">seria</a>
					<a href="#">seria</a>
					<a href="#">seria</a>
					<a href="#">seria</a>
					<a href="#">seria</a>
					<a href="#">seria</a>
					<a href="#">seria</a>
				</div>
			</div>
			<div class="head__details">Модель <i class="fas fa-chevron-down"></i>
				<div class="body__details details__model">
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
					<a href="#">model</a>
				</div>
			</div>
		</div>
	</div>
</div>